@page
@model BPCalculator.Pages.BloodPressureModel

@{
    ViewData["Title"] = "BP Category Calculator";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<h4>BP Category Calculator</h4>


<hr />

<!-- <script>
    window.setInterval('refresh()', 2000); 	
    // Call a function every 10000 milliseconds 
    // (OR 10 seconds).

    // Refresh or reload page.
    function refresh() {
        window .location.reload();
    }
</script> -->

 
<div class="row">
    <div class="col-md-4">
        <form method="post" id="form1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BP.Systolic" class="control-label"></label>
                <input asp-for="BP.Systolic" class="form-control"/>
                <span asp-validation-for="BP.Systolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BP.Diastolic" class="control-label"></label>
                <input asp-for="BP.Diastolic" class="form-control" />
                <span asp-validation-for="BP.Diastolic" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="BP.Age" class="control-label"></label>
                <input asp-for="BP.Age" class="form-control" />
                <span asp-validation-for="BP.Age" class="text-danger"></span>
            </div>
            <div>
            <label for="cars">Gender:</label>
            <select name="gender" id="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="na">N/A</option>
            </select>
            </div>    
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
                <input type="cancel" value="Cancel" class="btn btn-default" />
            </div>  
            <div>
             <a href="https://www.w3schools.com/">Check out other links</a>   
            </div>    
            @if (ViewData.ModelState.IsValid)
            {
        <div class="form-group">
            <label id="results" name="calcResults" >@Html.DisplayFor(model => model.BP.Category, new { htmlAttributes = new { @class = "form-control" } })</label>
        </div>
                <div class="form-group">
                    <label id="results" name="AgeResults" >@Html.DisplayFor(model => model.BP.AgeGroup, new { htmlAttributes = new { @class = "form-control" } })</label>
                </div>
                <div class="form-group">
                    <label id="resultsValue" name= "mapResults" style="display: block"><b>Mean Arterial Pressure:</b> @Html.DisplayFor(model => model.BP.mapCalulation, new { htmlAttributes = new { @class = "form-control" } })</label>
                </div>
                <div class="form-group">
                    <label id="resultsValue" name= "ppResults" style="display:block"><b>Pulse Pressure:</b> @Html.DisplayFor(model => model.BP.pulsePressureCalulation, new { htmlAttributes = new { @class = "form-control" } })</label>
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
