@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<img width="825" height="465" itemprop="image" src="https://www.adorama.com/alc/wp-content/uploads/2021/05/bird-wings-flying-feature.gif" class="attachment-blog_classic_thumb size-blog_classic_thumb wp-post-image" alt="birds wings flying gifs How to Make an Animated GIF in Photoshop" loading="lazy">
  <!-- Full-width images with number and caption text -->
